<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <title>Title</title>
</head>

<style>
    .headerComponent {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<script>
    $(function() {
      $("#backBtn").on("click", function() {
        window.history.back();
      });
    });
</script>

<body>
    <div style="display: flex; top: 20px; position: relative;">
        <div id="backBtn" class="headerComponent" style="justify-content: flex-start; flex: 1">
            <img style="margin-left: 10px; width: 18px; height: 18px;" src="/images/arrowBackBtn.png" alt="">
        </div>

        <div class="headerComponent" style="flex: 8">
            <span>
                {{title}}
            </span>
        </div>

        <div class="headerComponent" style="flex: 1">
        </div>
    </div>
</body>
</html>