<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/xeicon.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>

      $(document).ready(function () {

        $('.side_menu_btn').on('click', function () {
          $('.side').css("display", "flex");
        });

        $('.side_close').on('click', function () {
          $('.side').css("display", "none");
        });


      });
    </script>
    <style>
        body {
            margin: 0px;
        }

        .side {
            display: none;
            flex-direction: column;
            position: fixed;
            top: 0px;
            width: 75vw;
            height: 100vh;
            background-color: #FFFFFF;
            z-index: 10;
            border-right-color: #707070;
            border-right-style: solid;
            border-right-width: 3px;
        }

        .side_menu_btn:before {
            float: left;
            margin-left: .7rem;
            content: "\e91c";
            font-family: 'xeicon';
            margin-left: 40px;
            font-size: 7vw;
            color: #07398D;
        }

        .side_close_container {
            flex: 1;
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        .side_close:before {
            color: #58B539;
            margin-top: 5vh;
            margin-right: 5vw;
            font-size: 6vw;
            content: "\e921";
            font-family: 'xeicon';
            color: #07398D;
            font-size: 6vw;
            font-weight: bold;
        }

        .headerLink {
            font-size: 3.5vw;
        }
    </style>

</head>
<body>

<div style="background-color: white; display:flex; align-items:center; justify-content: space-between; top: 0vh; width: 100vw; height: 6vh;">
    {{#name}}
        <div>
            <a href="#a" class="side_menu_btn">
            </a>
        </div>
    {{/name}}
    {{^name}}
        <div style="width: 5vw"></div>
    {{/name}}

        <div style="display: flex; justify-content: center; align-items: center">
            {{#name}}
            <a href="/main">
            {{/name}}
            {{^name}}
            <a href="/index">
            {{/name}}
                <img src="/images/qfit_logo1.png" alt="" style="width: 8vw; height: auto;">
            </a>
        </div>

        <div style="width: 6vw">
        </div>
</div>


{{#name}}
<div class="side" hidden>
    <div style="flex: 3; display: flex; flex-direction: column; border-width: 3px; border-bottom-style: solid; border-bottom-color: #EEEEEE">
        <div class="side_close_container">
            <a href="#a" class="side_close">
            </a>
        </div>

        <div style="flex: 3; display: flex; flex-direction: column; justify-content: space-evenly; align-items: center;">
            <span style="font-size: 6vw; font-weight: bold;">
                {{name}} 님
            </span>

            {{#name}}
                <span style="font-size: 3.5vw;">
                    <a href="/logout">
                        로그아웃
                    </a>
                </span>
            {{/name}}
        </div>
    </div>

    <div style="flex: 7; display: flex; flex-direction: column;">
        <div style="flex: 5.5; display: flex; flex-direction: column; justify-content: space-evenly; font-size: 5vw; font-weight: bold; margin-left: 7vw;">
            <a class="headerLink" href="/usage">
                큐핏 이용방법
            </a>
            <a class="headerLink" href="/evaluations/register">
                기업 가치 평가
            </a>

            {{#corporation}}
                <a class="headerLink" href="/corporations/self-evaluate">
                    자가 기업 가치 평가
                </a>
            {{/corporation}}

            <a class="headerLink" href="/ir">
                IR 작성가이드
            </a>
            <a class="headerLink" href="/evaluations/result">
                결과 확인
            </a>
        </div>

        <div style="flex: 4.5;"></div>
    </div>
</div>
{{/name}}

</body>
</html>