<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
        $(function() {
          $("#backBtn").on('click', function() {
            window.location.href = "/main";
          });
        });
    </script>
    <title>Title</title>
</head>
<body>
<header>
    {{>fragments/header}}
</header>

<div style="width: 100vw; height: 100vh; display: flex; justify-content: center; align-items: center; flex-direction: column">
    <div style="display: flex; justify-content: center; align-items: center; flex: 4;">
        <span style="font-size: 5vw; color: #07398D">
            이미 입력한 기업정보가 존재합니다.
        </span>
    </div>

    <div style="flex: 1; width: 100%; justify-content: center; display: flex;">
        <div id="backBtn" style=" display: flex; width: 90%; height: 2.4rem; background-color: #07398D; border-radius: 5px; justify-content: center; align-items: center;">
            <span style="color: white; font-size: 0.75rem;">
                돌아가기
            </span>
        </div>
    </div>
</div>
</body>
</html>