html { font-size: 20px;}
body { font-size: 1rem;}

.white { position: fixed; z-index: 20; height: 3.5rem; left: 0; top: 0; width: 100%;}
.white .backgrond { margin-top: 1.85rem;}
.white .backgrond .side_menu_btn:before { float: left; margin-left: .7rem; content: "\e91c"; font-family: 'xeicon';  font-size: 1.3rem; color: #fff;}
.white .backgrond .side_menu_btn { font-size: 0;}
.white .side .side_close {font-size: 0;}
.white .side .side_close:after { float: right; margin: .7rem .7rem 0 0;  content: "\e921"; font-family: 'xeicon';  font-size: 1.2rem; color: #07398D;}
.white .side .login { margin-top: 3rem;}
.white .side .login .log { display: block; height: 2rem; font-size: .9rem; font-weight: normal; text-align: center; color: #000;}
.white .side .login .member { display: block; border-bottom: 1px solid #B7B7B7; height: 2.5rem; font-size: .7rem; text-align: center; color: #B7B7B7;}
.white .side .txt { margin: 1.5rem 0 0 1.5rem;}
.white .side .txt a { display: block; line-height: 2rem; height: 2rem; margin-bottom: 2rem; font-size: .85rem; color: #000;}
.white .side { position: fixed; left: -326px; top: 0; width: 300px; height: 100%; background: #fff; transition: left .5s;}
.white .side.on { left:0;}

.blue { position: fixed; z-index: 20; height: 3.5rem; width: 100%; background: #fff; left: 0; top: 0;}
.blue .backgrond { margin-top: 1.85rem;}
.blue .backgrond .bar { font-size: 0; display: block;}
.blue .backgrond .bar:before { float: left; margin-left: .7rem; content: "\e91c"; font-family: 'xeicon';  font-size: 1.3rem; color: #07398D;}
.blue .backgrond .logo { display: block; font-size: 0; width: 2rem; height: .9rem; background: url(../images/qfit_logo1.png) no-repeat; margin: 0 auto; position: relative; top: .25rem;}

.title { position: fixed; z-index: 20; height: 3.5rem; width: 100%; background: #fff; left: 0; top: 0;  border-bottom: .5rem solid #ddd;}
.title .bar1 { position: fixed; z-index: 20; height: .5rem; width: 14%; font-size: 0; background: #07398D; margin-top: 3.5rem; border-radius: 0 1rem 1rem 0;}
.title .bar2 { position: fixed; z-index: 20; height: .5rem; width: 28%; font-size: 0; background: #07398D; margin-top: 3.5rem; border-radius: 0 1rem 1rem 0;}
.title .bar3 { position: fixed; z-index: 20; height: .5rem; width: 42%; font-size: 0; background: #07398D; margin-top: 3.5rem; border-radius: 0 1rem 1rem 0;}
.title .bar4 { position: fixed; z-index: 20; height: .5rem; width: 60%; font-size: 0; background: #07398D; margin-top: 3.5rem; border-radius: 0 1rem 1rem 0;}
.title .bar5 { position: fixed; z-index: 20; height: .5rem; width: 74%; font-size: 0; background: #07398D; margin-top: 3.5rem; border-radius: 0 1rem 1rem 0;}
.title .bar6 { position: fixed; z-index: 20; height: .5rem; width: 88%; font-size: 0; background: #07398D; margin-top: 3.5rem; border-radius: 0 1rem 1rem 0;}
.title .bar7 { position: fixed; z-index: 20; height: .5rem; width: 100%; font-size: 0; background: #07398D; margin-top: 3.5rem; border-radius: 0 1rem 1rem 0;}
.title .backgrond { margin-top: 1.85rem; display: flex;}
.title .backgrond .before { font-size: 0; display: block;}
.title .backgrond .before:before { float: left; margin-left: .7rem; content: "\e906"; font-family: 'xeicon';  font-size: 1.2rem; color: #07398D;}
.title .backgrond .txt { font-size: .8rem; color: 000; font-weight: bold; margin: 0 auto;}
.title .backgrond .close { font-size: 0; display: block;}
.title .backgrond .close:before { float: right; margin-right: .7rem; content: "\e921"; font-family: 'xeicon';  font-size: 1.1rem; color: #07398D;}

.backyes { background: #F2F3F8; padding-top: .1rem;}

.visual1 { background: linear-gradient(to top, #005BEA, #58B539);}
.visual1 .maintxt { padding-top: 10.6rem;}
.visual1 .maintxt .logo { width: 7.5rem; height: 4.9rem; font-size: 0; margin: 0 auto; background: url(../images/qfit_logo.png) no-repeat;}
.visual1 .maintxt .logotxt { margin: .91rem 0 8rem 0; font-size: 1.5rem; line-height: 1.85rem; color: #fff; text-align: center;}
.visual1 .mabershiptxt { border-radius: .3rem;  width: 14.6rem; height: 2.4rem; margin: 0 auto; background: #07398D;}
.visual1 .mabershiptxt a { font-size: .8rem; font-weight: bold; text-align: center; line-height: 2.4rem; color: #fff;}
.visual1 .logtxt { padding: .6rem 0 1.2rem 0; text-align: center;}
.visual1 .logtxt p { display: inline-block; font-size: .65rem; color: #fff;}
.visual1 .logtxt u { font-size: .65rem; color: #FFEB00; font-weight: bold;}

.visual2 { position: fixed; z-index: 10; top: 3.5rem; left: 0; width: 100%; height: 2rem; background: #BF9002;}
.visual2 p { margin-left: .85rem; font-size: .65rem; color: #fff; position: relative; top: .6rem;}
.visual2_1 { position: fixed; z-index: 10; top: 3.5rem; left: 0; width: 100%; height: 2rem; background: #07398D;}
.visual2_1 p { margin-left: .85rem; font-size: .65rem; color: #fff; position: relative; top: .6rem;}

.visual3 { margin: 0 1.0rem 0 1.0rem; margin-top: 5.5rem;}
.visual3 ul.tab { position: fixed; z-index: 10; left: 1rem; width: 91%; height: 2.5rem; border-bottom: 1px solid #ddd;}
.visual3 .tab li { float: left; width: 50%;}
.visual3 .tab .on a { font-size: .75rem; color: #07398D; line-height: 2.5rem; font-weight: bold; text-align: center; background: #fff; border-bottom: 3px solid #07398D; }
.visual3 .tab a {font-size: .75rem; color: #B7B7B7; display: block; text-align: center; line-height: 2.5rem; font-weight: bold; background: #fff;}
.visual3 .tabs div { display: none;}
.visual3 .tabs .on { display: block;}
/* 지금 내가 만든거는 딱 2개짜리 이다. 이런건 flex로 만들어야 한다. */
/* float은 li에 주기 / a 에 주면 안된다 */

.visual3 .step .stepone { width: 4.3rem; height: 1.4rem; text-align: center; line-height: 1.4rem; margin: 0 auto; border-radius: 1rem; background: #07398D}
.visual3 .step .stepone b { position: relative; top: -.1rem; font-size: .7rem; color: #fff;}
.visual3 .step .outline p { font-size: .8rem; color: #000; text-align: center; margin-top: .7rem; margin-bottom: .7rem; font-weight: bold;}

.visual3 div.on { position: relative; top: 2.5rem;}
.visual3 .infor td { display: block; margin-top: .7rem;}
.visual3 .infor td b { font-size: .66rem;  color: #000;}
.visual3 .infor td .margin1 { margin-top: 3.4rem; display: block;}
.visual3 .infor td input{ width: 100%; height: 2.3rem;}
.visual3 .infor .margin2 { margin-bottom: 2.7rem;}
.visual3 .on2 .checktxt { position: relative; top: -3rem;}
.visual3 .infor .chose input { width: 8%; height: .9rem; }
.visual3 .infor .chose p { display: inline-block; font-size: .7rem;}
.visual3 .infor .file input { width: 100%; height: 1.16rem;}

.visual3 .infor textarea { margin-top: .3rem; padding-top: .7rem; width: 100%; height: 12rem; font-size: .7rem; line-height: 1rem;}

.visual3 .agree { margin-top: 1.7rem;}
.visual3 .on .agree { display: block;}
.visual3 .on .agree .icon { float: left; clear: both;}
.visual3 .agree input { margin-right: .5rem; width: .8rem; height: .8rem; font-size: .67rem; color: #000;}
.visual3 .agree .position { position: relative; top: -.9rem; margin-right: .5rem; width: .8rem; height: .8rem; font-size: .67rem; color: #000;}
.visual3 .agree .icon a { font-size: .65rem; display: inline-block; line-height: 1rem;}
.visual3 .on .agree .see { float: right;}
.visual3 .on .agree .see a { font-size: .7rem; color: #464646; text-decoration: underline;}

.visual3 .on .corpor { padding-top: 1.3rem;}
.visual3 .on .corpor u { float: left; font-size: 0; width: 6rem; height: 6rem; background: url(../images/img_round.png) no-repeat;}
.visual3 .on .corpor a {  width: 100%; height: 6rem; display: inline-block; background: #F2F3F8;}
.visual3 .on .corpor a::before { float: right; content: "\e93e"; font-family: 'xeicon'; font-size: 1.2rem; color: #07398D; margin-right: .5rem; line-height: 6rem;}
.visual3 .on .corpor a b { display: block; margin: 2rem 0 .2rem 0; font-size: .8rem;}
.visual3 .on .corpor a p { font-size: .7rem;}
.visual3 .on .only { display: block; font-size: .8rem; color: #000; padding: 1.2rem 0 1.2rem 0;}
.visual3 .on ul { display: inline-block; width: 100%; border-bottom: 1px solid #eee;}
.visual3 .agree ul { border-bottom: 0;}
.visual3 .on ul:last-child { border-bottom: 0 }
.visual3 .on li span { font-size: .7rem; height: 2.5rem; line-height: 2.5rem; font-size: .7rem; color: #000; }
.visual3 .on .left { float: left; clear: both;}
.visual3 .on .right { float: right;}

.visual3 .on2 .txt p { font-size: .7rem; line-height: 1rem; margin: 1rem 0 1rem 0; text-align: center;}
.visual3 .on2 .stage1 .down { display: inline-block; margin-top: 1rem; width: 100%; height: 2.4rem; background: #BF9002; font-size: .75rem; font-weight: bold; text-align: center; line-height: 2.4rem; color: #fff;}
.visual3 .on2 .stage1 span { display: inline-block; height: 2.5rem; line-height: 2.5rem; font-size: .7rem; color: #000;}
.visual3 .on2 .stage1 .back { display: none; background: #fff;}
.visual3 .on2 .stage1 .back ul { display: inline-block; width: 100%; border-bottom: 1px solid #eee;}
.visual3 .on2 .stage1 .back .right a { height: 2.4rem; width: 9rem; display: block;}
.visual3 .on2 .stage1 .back ul:last-child { border-bottom: 0 solid #eee;}
.visual3 .on2 .stage1 .back .left { float: left; clear: both; padding-left: 1rem;}
.visual3 .on2 .stage1 .back .right { float: right; padding-right: 1rem;}
.visual3 .on2 .stage1 .back p { width: 100%; height: 6rem; margin: 0 auto; background: url(../images/img.png) no-repeat;}

.visual3 .on2 .txt1 p { font-size: .65rem; text-align: center; line-height: 1rem; margin: 1rem 0 .5rem 0;}
.visual3 .on2 .txt2 p { width: 100%; height: 6rem; font-size: 0; margin: 0 auto; background: url(../images/img.png) no-repeat;}
.visual3 .stage2 > a { display: inline-block; margin-top: 1rem; width: 100%; height: 2.4rem; font-size: .8rem; font-weight: bold; line-height: 2.4rem; color: #000;}
.visual3 .on2 .stage2 span { display: inline-block; height: 2.5rem; line-height: 2.5rem; font-size: .7rem; color: #000;}
.visual3 .stage2 .back { background: #fff;}
.visual3 .stage2 .back ul { display: inline-block; width: 100%; border-bottom: 1px solid #eee;}
.visual3 .stage2 .back ul:last-child { border-bottom: 0 solid #eee;}
.visual3 .stage2 .back .left { float: left; clear: both; padding-left: 1rem;}
.visual3 .stage2 .back .right { float: right; padding-right: 1rem;}
.visual3 .stage2 .back .right a { display: inline-block; height: 2.5rem; line-height: 2.5rem; font-size: .7rem; text-decoration: underline; color: #000;}

.visual3 .on2 .stage3 a { display: inline-block; margin-top: 1.58rem; width: 100%; background: #fff; }
.visual3 .on2 .stage3 a:last-child { padding-bottom: 2rem;}
.visual3 .on2 .stage3 a p { width: 15.5rem; margin: .7rem 0 .7rem .7rem; line-height: 1.1rem; font-size: .7rem; color: #000; display: inline-block;}
.visual3 .on2 .stage3 a p:after { float: right; content: "\e914"; font-family: 'xeicon'; font-size: 1.2rem; color: #07398D;}
.visual3 .on2 .stage3 .position p:after { float: right; content: "\e914"; font-family: 'xeicon'; position: relative; top: -1rem; font-size: 1.2rem; color: #07398D;}
.visual3 .on2 .stage3 .back { display: none; padding: 1rem;}
.visual3 .on2 .stage3 .back p { font-size: .7rem; line-height: 1.1rem; color: #000;}

.visual3 .tabs .on .btn_pop { display: inline-block; clear: both;}
.visual3 .btn_pop { display: inline-block; margin: 2rem 0  2.2rem 0; width: 100%; height: 2.4rem; border-radius: .3rem; background: #DDD; font-size: .75rem; font-weight: bold; text-align: center; line-height: 2.4rem; color: #fff;}
.visual3 .btn_pop a { width: 100%; height: 2.4rem; display: block; color: #fff;}
.visual3 .btn_pop.on { background: #07398D;}
.visual3 .btn_pop_2.on { background: #07398D;}
.visual3 .popup {display: none;  position: absolute; top: 11%; z-index: 30; width: 16.8rem; height: 29rem; background: #fff; border-radius: .3rem;}
.visual3 .popup .popup_header { margin: 1rem;}
.visual3 .popup .close { float: right;}
.visual3 .popup p { font-size: .9rem; color: #000; font-weight: bold; float: left;}
.visual3 .popup .close:before { content: "\e921"; font-family: 'xeicon';  font-size: 1.3rem; color: #07398D;}
.visual3 .popup ul {display: inline-block; clear: both; width: 88%; height: 2.5rem; margin: .5rem 1rem;}
.visual3 .popup .left { float: left; clear: both; font-size: .7rem; color: #000; font-weight: bold; line-height: 2.5rem; margin-left: .8rem; }
.visual3 .popup .right { float: right; font-size: .7rem; color: #000; font-weight: bold; line-height: 2.5rem; margin-right: .8rem;}
.visual3 .btn_pop_2 { display: block; margin: 0 auto; width: 88%; height: 2.4rem; border-radius: .3rem; background: #DDD; font-size: .75rem; font-weight: bold; text-align: center; line-height: 2.4rem; color: #fff;}
.visual3 .popup_back { display: none; position: absolute; left: 0; top: 0; z-index: 25; width: 18.8rem; height: 34rem; background: rgba(0,0,0,0.5); }

.visual3 .popup .righttxt { float: right; height: 2.5rem; width: 10rem; text-align: center; }

.visual3 .popup2 {display: none;  position: absolute; top: 32%; z-index: 30; width: 16.8rem; height: 10.5rem; background: #fff; border-radius: .3rem;}
.visual3 .popup2 p { line-height: 1.2rem; font-size: .8rem; text-align: center; color: #000; margin: 2.3rem;}
