<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Title</title>

  <style>
    body {
      margin: 0px;
    }

    .evaluation {
      width: 100vw;
      height: 38vh;
      display: flex;
      flex-direction: column;
      margin-top: 2vh;
    }

    .division {
      background-color: #F2F3F8;
      height: 1.5vh;
    }

  </style>
</head>
<body>
  <header>
    {{>fragments/header}}
  </header>


  {{#evaluationList}}
    <a href="/evaluations/{{evaluationId}}">
      <div class="evaluation">
        <div style="width: 100vw; height:28vh">
          {{#corporationImageUrl}}
            <img style="width: 100%; height: 100%;" src="{{corporationImageUrl}}" alt="">
          {{/corporationImageUrl}}
          {{^corporationImageUrl}}
          <div style="background-color: #707070; width: 100%; height: 100%; color:white; display:flex; justify-content:center; align-items:center; font-size: 3vw;">이미지가 존재하지 않습니다.</div>
          {{/corporationImageUrl}}
        </div>
        <div style="flex: 3.5; display: flex; flex-direction: column; justify-content: space-evenly; align-items: flex-start; margin-left: 3vw;">
          <span style="font-size: 4vw; font-weight: bold; color: #000000;">
            {{corporationName}}
          </span>
          <span style="font-size: 2.7vw; color: #000000;">
            {{corporationIntroduce}}
          </span>
        </div>
      </div>

      <div class="division"></div>
    </a>
  {{/evaluationList}}
</body>
</html>