<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        .container {
            width: 100vw;
            height: 124vh;
            background-color: #F2F3F8;
            display:flex;
            justify-content: center;
            align-items: center;
        }

        .contentContainer {
            width: 90%;
            height: 115vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }

        .videoContainer {
            width: 100%;
            height: 38vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }

        .videoInfoContainer > span {
            font-size: 3vw;
            width : 100%;
        }

        .linkListContainer {
            width: 90%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
        }

        .linkListContainer > div {
            width: 100%;
            height: 10vh;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            border-bottom-style: solid;
            border-bottom-color: #666666;
            border-bottom-width: 1px;
        }

        .linkListContainer > div > span {
            width: 100%;
            font-size: 3vw;
        }

    </style>
</head>

<body>

<header>
    {{>fragments/header}}
</header>

<div>
    <div
        style="width: 100vw; height: 7vh; background-color: #07398D; display:flex; justify-content: flex-start; align-items: center;">
        <span style="width: 10vw; margin-left: 5vw; color: white; font-size: 3.5vw; ">기업IR</span>
    </div>

    <div class="container">
        <div class="contentContainer">
            <div style="width: 100%; height: 7vh;">
                <span style="font-size: 3.5vw">
                    투자자들을 대상으로 기업 설명 및 홍보 활동을 하여 투자
                    유치를 원활하게 하는 활동을 하고 있습니다.
                </span>
            </div>

            <div class="videoContainer">
                <iframe style="width: 100%;  height: 28vh;" src="https://www.youtube.com/embed/6ZzsLBimi7M" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
                <div class="videoInfoContainer" style="width: 100%; height: 9vh; display: flex; flex-direction: column; justify-content: space-evenly; align-items: center;">
                    <span>
                        김창석 대표 IR 강의
                        </span>
                    <span>
                        <a href="https://www.youtube.com/embed/w71gNnNWdKI">
                            https://www.youtube.com/embed/w71gNnNWdKI
                        </a>
                    </span>
                </div>
            </div>

            <div style="width: 100%; height: 61vh; background-color: white; display: flex; justify-content: center; margin-top: 2.5vh;">
                <div class="linkListContainer">
                    <div>
                        <span>
                            스타트업 엔젤투자를 말하다
                        </span>
                        <span>
                            <a href="https://www.youtube.com/channel/UC96l4xW07Pdg5zc-SFPD5ig">
                                https://www.youtube.com/channel/UC96l4xW07Pdg5zc-SFPD5ig
                            </a>
                        </span>
                    </div>
<!--                    <div>-->
<!--                        <span>-->
<!--                            3강-->
<!--                        </span>-->
<!--                        <span>-->
<!--                            김연준 치프 컨설턴트-->
<!--                        </span>-->
<!--                        <span>-->
<!--                            <a href="https://www.youtube.com/embed/w71gNnNWdKI">-->
<!--                                https://www.youtube.com/embed/w71gNnNWdKI-->
<!--                            </a>-->
<!--                        </span>-->
<!--                    </div>-->
<!--                    <div>-->
<!--                        <span>-->
<!--                            4강-->
<!--                        </span>-->
<!--                        <span>-->
<!--                            김연준 치프 컨설턴트-->
<!--                        </span>-->
<!--                        <span>-->
<!--                            <a href="https://www.youtube.com/embed/w71gNnNWdKI">-->
<!--                                https://www.youtube.com/embed/w71gNnNWdKI-->
<!--                            </a>-->
<!--                        </span>-->
<!--                    </div>-->
<!--                    <div>-->
<!--                        <span>-->
<!--                            5강-->
<!--                        </span>-->
<!--                        <span>-->
<!--                            김연준 치프 컨설턴트-->
<!--                        </span>-->
<!--                        <span>-->
<!--                            <a href="https://www.youtube.com/embed/w71gNnNWdKI">-->
<!--                                https://www.youtube.com/embed/w71gNnNWdKI-->
<!--                            </a>-->
<!--                        </span>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>