<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Title</title>

  <style>
      span {
          font-size: 3.5vw;
      }

      body {
          margin: 0px;
          background-color: #F2F3F8;
      }

      .container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-top: 4vh;
      }

      .header {
          width: 90vw;
          height: 21vh;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 4vh;
      }

      .itemContainer {
          width: 90vw;
          min-height: 67vh;
          min-height: 67vh;
      }

      .itemContentContainer {
          margin-top: 2vh;
          background-color: white;
          width: 100%;
          height: 46vh;
          display: flex;
          flex-direction: column;
          align-items: center;
      }

      .item {
          width: 90%;
          height: 7vh;
          border-bottom: 2px solid #EEEEEE;
          display: flex;
          justify-content: space-between;
          align-items: center;
      }

  </style>
</head>
<body>
<header>
    {{>fragments/header}}
</header>


<div class="container">

    <div class="header">
        <div style="width: 100%; height: 12vh;">
            {{#corporationImageUrl}}
            <img style="width: 100%; height: 100%" src="{{corporationImageUrl}}" alt="">
            {{/corporationImageUrl}}
            {{^corporationImageUrl}}
            <div style="background-color: #707070; width: 100%; height: 100%; color:white; display:flex; justify-content:center; align-items:center;">이미지가 존재하지 않습니다.</div>
            {{/corporationImageUrl}}
        </div>

        <div style="width: 100%; height: 8vh; display: flex; justify-content: center; align-items: center; background-color: #58B539;">
            <div style="width: 90%; display: flex; justify-content: space-between">
                <span style="color: white;">평가한 투자자 수</span>
                <div style="width: 10vw;">
                    <span style="color: white;">{{count}}</span>
                    <span style="color: white;"> 명</span>
                </div>
            </div>
        </div>
    </div>

    {{#evaluationInformationList}}
        <div class="itemContainer">
            <div>
                <span>
                   평가자 : {{evaluatorName}}
                </span>
            </div>

            <div class="itemContentContainer">
                <div class="item">
                    <span>팀역량</span>
                    <div>
                        <span>{{teamCapacity}}</span>
                        <span> 점</span>
                    </div>
                </div>
                <div class="item">
                    <span>시장성</span>
                    <div>
                        <span>{{marketability}}</span>
                        <span> 점</span>
                    </div>
                </div>
                <div class="item">
                    <span>차별성</span>
                    <div>
                        <span>{{distinction}}</span>
                        <span> 점</span>
                    </div>
                </div>
                <div class="item">
                    <span>사업화역량</span>
                    <div>
                        <span>{{commercializationCapacity}}</span>
                        <span> 점</span>
                    </div>
                </div>
                <div class="item">
                    <span>성장성</span>
                    <div>
                        <span>{{growth}}</span>
                        <span> 점</span>
                    </div>
                </div>
                <div class="item">
                    <span>재무건전성</span>
                    <div>
                        <span>{{financialSoundness}}</span>
                        <span> 점</span>
                    </div>
                </div>
            </div>

            <div style="margin-left: 2vw;">
                <span style="width: 3.5vw">
                    평가자 코멘트 <br>
                </span>
                <span style="width: 3.5vw">
                    {{investorComment}}
                </span>
            </div>
        </div>
    {{/evaluationInformationList}}
    {{^evaluationInformationList}}
        <div style="display: flex; justify-content: center; align-items: center; color: black; font-size: 3vw;">
            투자자 평가가 존재하지 않습니다
        </div>
    {{/evaluationInformationList}}

</div>

</body>
</html>