<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

  <script>
    $(function() {
      $("#myInfoTab").hide();

      $(".tabA").on("click", function() {
        $(".tabA").css("border-bottom-width", "8px");
        $(".tabASpan").css("color", "#07398D");
        $(".tabB").css("border-bottom-width", "0px");
        $(".tabBSpan").css("color", "#B7B7B7");

        $("#evaluationListTab").show();
        $("#myInfoTab").hide();
      });

      $(".tabB").on("click", function() {
        $(".tabB").css("border-bottom-width", "8px");
        $(".tabBSpan").css("color", "#07398D");
        $(".tabA").css("border-bottom-width", "0px");
        $(".tabASpan").css("color", "#B7B7B7");
        $("#evaluationListTab").hide();
        $("#myInfoTab").show();
      });

      $(".modifyBtn").on("click", function() {
        let evaluationId = $(this).parent().find(".evaluationIdContainer").text();
        window.location.href = `/evaluations/${evaluationId}/modify`;
      })

      $(".deleteBtn").on("click", function() {
        let evaluationId = $(this).parent().find(".evaluationIdContainer").text();
        $.ajax({
          url: `/evaluations/${evaluationId}`,
          type: "delete",
          success: function() {
            alert("삭제 성공.");
            document.location.reload();
          },
          error: function(error) {
            alert(error);
          }
        });
      });
    });

  </script>

  <style>
    .container {
      width: 100vw;
      height: 100%;
      overflow: auto;
      display: flex;
      flex-direction: column;

    }

    .tabContainer {
      width: 100vw;
      height: 6vh;
      background-color: white;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }

    .tab {
      width: 43vw;
      height: 100%;
      border-bottom-width: 0px;
      border-bottom-style: solid;
      border-bottom-color: #07398D;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .tab > span {
      font-size: 3.5vw;
      color: #B7B7B7;
    }

    #evaluationListTab {
      width: 100vw;
      height: 88vh;
      background-color: #F2F3F8;
    }

    #myInfoTab {
      width: 100vw;
      height: 88vh;
      background-color: #F2F3F8;
    }

    .eachTabContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .eachTabContentContainer {
      width: 90vw;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }

    .myInfoLine {
      width: 90%;
      height: 13vh;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom-style: solid;
      border-bottom-color: #EEEEEE;
      border-bottom-width: 2px;
    }

    .myInfoLine > span {
      font-size: 3vw;
    }

  </style>
</head>
<body>
  <header>
    {{>fragments/header}}
  </header>


<!-- @@@@@@@@@@@@@@@@@ TAB @@@@@@@@@@@@@@@@@@ -->
  <div class="container">
    <div class="tabContainer">
      <div class="tab tabA" style="border-bottom-width: 8px">
        <span class="tabASpan" style="color: #07398D">결과 확인</span>
      </div>
      <div class="tab tabB">
        <span class="tabBSpan">내 정보</span>
      </div>
    </div>


    <!-- @@@@@@@@@@@@@@@@@ EVALUTAION TAB @@@@@@@@@@@@@@@@@@ -->
    <div id="evaluationListTab" class="eachTabContainer">
      {{#mainProductService}}
        <div class="eachTabContentContainer" style="height: 55vh; background-color: white; justify-content: center;">
          <a href="/evaluations/myRequest">
            <div style="width: 30vh; height: 30vh;">
              {{#corporationImageUrl}}
              <img style="width: 100%; height: 100%; border-radius: 100%;" src="{{corporationImageUrl}}" alt="">
              {{/corporationImageUrl}}
              {{^corporationImageUrl}}
              <div style="background-color: #707070; width: 100%; height: 100%; color:white; display:flex; justify-content:center; align-items:center; font-size: 3vw">이미지가 존재하지 않습니다.</div>
              {{/corporationImageUrl}}
            </div>

            <div style="display: flex; flex-direction: column; justify-content: space-between; align-items: center; margin-top: 3vh;">
              <span style="font-size: 4vw;">{{corporationName}}</span>
              <span style="font-size: 3.5vw;">{{createdDate}} > </span>
            </div>
          </a>
        </div>

      <div style="display: flex; justify-content: space-between; min-width:35vw;">
        <div style="margin-top: 2vh; border-radius: 10px; min-width: 15vw; height: 3vh; background-color: white; display: flex; justify-content: center; align-items: center;">
          <div style="display: none;" class="evaluationIdContainer">{{evaluationId}}</div>
          <span style="font-size: 2.2vw;" class="modifyBtn">수정하기 ></span>
        </div>
        <div style="margin-top: 2vh; border-radius: 10px; min-width: 15vw; height: 3vh; background-color: white; display: flex; justify-content: center; align-items: center;">
          <div style="display: none;" class="evaluationIdContainer">{{evaluationId}}</div>
          <span style="font-size: 2.2vw;" class="deleteBtn">삭제하기 ></span>
        </div>
      </div>
      {{/mainProductService}}
      {{^mainProductService}}
      <div style="width: 100%; height: 88vh; display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <div>
          <span style="font-size: 6vw">기업 정보가 존재하지 않습니다.</span>
        </div>
        <div >
          <a  href="/evaluations/register">
            <span style="text-decoration: underline; font-size: 6vw;">입력하러 가기</span>
          </a>
        </div>
      </div>
      {{/mainProductService}}
    </div>


    <!-- @@@@@@@@@@@@@@@@@ MYINFO TAB @@@@@@@@@@@@@@@@@@ -->

    <div id="myInfoTab" class="eachTabContainer" style="height: 88vh; justify-content: flex-start">
      <div class="eachTabContentContainer" style="height: 57vh;">
        <div style="width: 100%; height: 6vh; display: flex; justify-content: center; align-items: center;">
          <span style="font-size: 3.5vw; width: 100%;">기본 정보</span>
        </div>

        <div style="width: 100%; height: 30vh; background-color: white; display: flex; flex-direction: column; justify-content: space-evenly; align-items: center">
          <div class="myInfoLine">
            <span>아이디</span>
            <span>{{phone}}</span>
          </div>
          <div class="myInfoLine">
            <span>이름</span>
            <span>{{representativeName}}</span>
          </div>
          <div class="myInfoLine">
            <span>기업명</span>
              <span>{{corporationName}}</span>
          </div>
          <div class="myInfoLine">
            <span>사업자 등록번호</span>
            <span>{{businessNum}}</span>
          </div>
        </div>

<!--        <div style="width: 100%; height: 7vh;">-->
<!--          <button style="background-color: #07398D; width: 100%; height: 100%; border-radius: 10px;">-->
<!--            <span style="color: white; font-size: 3.5vw;">내 정보 수정</span>-->
<!--          </button>-->
<!--        </div>-->
      </div>
    </div>

  </div>

</body>
</html>