<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

  <script>
    $(function() {
      $("#myInfoTab").hide();

      $(".tabA").on("click", function() {
        $(".tabA").css("border-bottom-width", "8px");
        $(".tabASpan").css("color", "#07398D");
        $(".tabB").css("border-bottom-width", "0px");
        $(".tabBSpan").css("color", "#B7B7B7");

        $("#evaluationListTab").show();
        $("#myInfoTab").hide();
      });

      $(".tabB").on("click", function() {
        $(".tabB").css("border-bottom-width", "8px");
        $(".tabBSpan").css("color", "#07398D");
        $(".tabA").css("border-bottom-width", "0px");
        $(".tabASpan").css("color", "#B7B7B7");
        $("#evaluationListTab").hide();
        $("#myInfoTab").show();
      });

    });
  </script>

  <style>
    body {
      margin: 0px;
    }

    .container {
      width: 100vw;
      height: 100%;
      overflow: auto;
      display: flex;
      flex-direction: column;
    }

    .tabContainer {
      width: 100vw;
      height: 6vh;
      background-color: white;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }

    .tab {
      width: 43vw;
      height: 100%;
      border-bottom-width: 0px;
      border-bottom-style: solid;
      border-bottom-color: #07398D;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .tab > span {
      font-size: 3.5vw;
      color: #B7B7B7;
    }



    #myInfoTab {
      width: 100vw;
      height: 88vh;
      background-color: #F2F3F8;
    }

    .eachTabContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .eachTabContentContainer {
      width: 90vw;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }

    .myInfoLine {
      width: 90%;
      height: 13vh;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom-style: solid;
      border-bottom-color: #EEEEEE;
      border-bottom-width: 2px;
    }

    .myInfoLine > span {
      font-size: 3vw;
    }

  </style>
</head>
<body style="background-color: #F2F3F8;">
<header>
  {{>fragments/header}}
</header>


<!-- @@@@@@@@@@@@@@@@@ TAB @@@@@@@@@@@@@@@@@@ -->
<div class="container">
  <div class="tabContainer">
    <div class="tab tabA" style="border-bottom-width: 8px">
      <span class="tabASpan" style="color: #07398D">평가한 기업 리스트</span>
    </div>
    <div class="tab tabB">
      <span class="tabBSpan">내 정보</span>
    </div>
  </div>


  <!-- @@@@@@@@@@@@@@@@@ EVALUTAION TAB @@@@@@@@@@@@@@@@@@ -->
  <div id="evaluationListTab" class="eachTabContainer">
    <div class="eachTabContentContainer" style="margin-top: 2vh;">
      {{#myEvaluationList}}
        <div style="width: 100%; height: 12vh; background-color: white; display: flex; align-items: center; justify-content: space-evenly; margin-bottom: 2vh;">
          <div style="width: 160px; height: 160px;">
            <img style="width: 100%; height: 100%; border-radius: 100%;" src="{{#corporationImageUrl}}{{corporationImageUrl}}{{/corporationImageUrl}}" alt="">
          </div>

          <div style="height: 7vh; display: flex; flex-direction: column; justify-content: space-evenly;">
            <span style="font-size: 4vw;">{{corporationName}}</span>
            <span style="font-size: 3.5vw;">{{evaluationDate}} 평가</span>
          </div>

          <div></div>
          <div></div>
          <div></div>

          <div>
            <span style="font-size: 7vw; color: #07398D"> > </span>
          </div>
        </div>
      {{/myEvaluationList}}
    </div>
  </div>


  <!-- @@@@@@@@@@@@@@@@@ MYINFO TAB @@@@@@@@@@@@@@@@@@ -->

  <div id="myInfoTab" class="eachTabContainer" style="height: 88vh; justify-content: flex-start">
    <div class="eachTabContentContainer" style="height: 57vh;">
      <div style="width: 100%; height: 6vh; display: flex; justify-content: center; align-items: center;">
        <span style="font-size: 3.5vw; width: 100%;">기본 정보</span>
      </div>

      <div style="width: 100%; height: 30vh; background-color: white; display: flex; flex-direction: column; justify-content: space-evenly; align-items: center">
        <div class="myInfoLine">
          <span>아이디</span>
          <span>{{phone}}</span>
        </div>
        <div class="myInfoLine">
          <span>이름</span>
          <span>{{name}}</span>
        </div>
        <div class="myInfoLine">
          <span>소속기관</span>
          <span>{{affiliation}}</span>
        </div>
      </div>

<!--      <div style="width: 100%; height: 7vh;">-->
<!--        <button style="background-color: #07398D; width: 100%; height: 100%; border-radius: 10px;">-->
<!--          <span style="color: white; font-size: 3.5vw;">내 정보 수정</span>-->
<!--        </button>-->
<!--      </div>-->
    </div>
  </div>

</div>

</body>
</html>