<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header class="title">
    <div
        style="width: 100vw; height: 10vh; border-bottom-color: #707070; border-bottom-style: solid; border-bottom-width: 1px; display: flex; align-items: center; justify-content: center;">
            <span style="font-size: 4vw;">
                {{title}}
            </span>
    </div>
</header>

<div style="width: 100vw; height: 100%; margin-top : 10vh; display:flex; align-items: center; justify-content: center;">
    <img style="width: 90%; height: auto;" src="/images/{{type}}.png" alt="">
</div>
</body>
</html>