<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <title>자가기업가치평가</title>
</head>

<style>
    body {
        margin: 0px;
    }

    .container {
        position: relative;
        top: 30px;
        width: 100vw;
        min-height: 100vh;
        background-color: #F2F3F8;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .component {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    input[type="number"]::placeholder {
        text-align: right;
        color: #CECECE;
        right: 10px;
        position: relative;
    }

    .inputComponent {
        margin: 10px 0px;
        min-height: 11.5vh;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
    }

    .inputComponent span {
        font-size: 4vw;
    }

    input {
        text-align: right;
        width: 100%;
        border-radius: 5px;
        height: 5.5vh;
        border: 1px solid #CECECE;
    }
</style>
<body>

<header>
    {{>fragments/arrow_title_header}}
</header>
<div id="corporationId" style="display: none;">{{id}}</div>

<div class="container">
    <div class="component" style="height: 60vh;">
        <img style="height: 60vh;" src="/images/selfEvaluateGuide.png" alt="">
    </div>

    {{#selfEvaluateValue}}
    <div class="component"
         style="height: 20vh; background-color: white; color: #07398D; display:flex; flex-direction: column; justify-content: center; align-items: center;">
        <div>
            <span>'{{#corporationName}}{{corporationName}}{{/corporationName}}' 사의</span>
        </div>
        <div>
            <span>기업가치는</span>
        </div>
        <div>
            <span id="selfEvaluateValue">{{#selfEvaluateValue}} {{corporationValue}} {{/selfEvaluateValue}}</span>
            <span> 원 입니다.</span>
        </div>
    </div>

    <div class="inputComponentContainer component" style="display: none">
        {{/selfEvaluateValue}}
        {{^selfEvaluateValue}}
        <div class="inputComponentContainer component" style="display: flex">
            {{/selfEvaluateValue}}
            <div class="inputComponent">
                <div>
                    <span>추정매출액</span>
                </div>
                <div>
                    <input id="estimatedSales" type="text"
                           value="{{#selfEvaluateValue}}{{estimatedSales}}{{/selfEvaluateValue}}원" placeholder="원">
                </div>
            </div>
            <div class="inputComponent">
                <div>
                    <span>성장율</span>
                </div>
                <div>
                    <input id="growthRatio" type="text"
                           value="{{#selfEvaluateValue}}{{growthRatio}}{{/selfEvaluateValue}}%" placeholder="%">
                </div>
            </div>
            <div class="inputComponent">
                <div>
                    <span>영업이익율</span>
                </div>
                <div>
                    <input id="profitRatio" type="text"
                           value="{{#selfEvaluateValue}}{{profitRatio}}{{/selfEvaluateValue}}%" placeholder="%">
                </div>
            </div>
            <div class="inputComponent">
                <div>
                    <span>기업할인율</span>
                </div>
                <div>
                    <input id="discountRatio" type="text"
                           value="{{#selfEvaluateValue}}{{discountRatio}}{{/selfEvaluateValue}}%" placeholder="%">
                </div>
            </div>

            <div style="display: flex; justify-content: flex-end; margin-top: 1vh;">
                <span style="color: #454F63; font-size: 4vw;">
                    추정연도는 5년 입니다.
                </span>
            </div>
        </div>
        <div class="component" style="margin: 5vh 0vw;">
            <div
                id="{{#selfEvaluateValue}}modifyBtn{{/selfEvaluateValue}}{{^selfEvaluateValue}}requestBtn{{/selfEvaluateValue}}"
                style=" display: flex; width: 100%; height: 2.4rem; background-color: #07398D; border-radius: 5px; justify-content: center; align-items: center;">
            <span style="color: white; font-size: 0.75rem;">
                {{#selfEvaluateValue}}수정{{/selfEvaluateValue}}{{^selfEvaluateValue}}입력{{/selfEvaluateValue}}
            </span>
            </div>
        </div>
    </div>
</div>
</body>

<script>
  $(function () {
    $("#requestBtn").on("click", function () {
      request("POST");
    });

    $("#modifyBtn").on("click", function () {
      $(".inputComponentContainer").css("display", "flex");
      $("#modifyBtn").addClass("requestModifyBtn");
      $(".requestModifyBtn").on("click", function () {
        request("PUT");
      });
    });

    $("#estimatedSales").on("input", function() {
      let estimatedSales = $(this).val();
      $("#estimatedSales").val(toEstimatedValueWithComma(estimatedSales));
    });

    $("#estimatedSales").on("change", function() {
      let estimatedSales = $(this).val();
      $(this).val(estimatedSales + "원");
    })

    $("#growthRatio, #discountRatio, #profitRatio").on("input", function() {
      let numberWithPercentAndDot = $(this).val();
      $(this).val(toValueWithPercentAndDot(numberWithPercentAndDot));
    });

    function request(type) {
      let corporationId = $("#corporationId").text();
      $.ajax({
        url: `/corporations/${corporationId}/self-evaluate`,
        type: type,
        contentType: "application/json",
        data: JSON.stringify(makeRequestBody()),
        success: function () {
          alert("요청 완료.");
          document.location.reload();
        },
        error: function (error) {
          alert(error.responseText);
        }
      });
    }

    function makeRequestBody() {
      return {
        estimatedSales: removeComma(remove원($("#estimatedSales").val())),
        growthRatio: removePercent($("#growthRatio").val()),
        profitRatio: removePercent($("#profitRatio").val()),
        discountRatio: removePercent($("#discountRatio").val())
      }
    }

    function toEstimatedValueWithComma(estimatedValue) {
      let estimatedValueWithOutWon = remove원(estimatedValue).trim();

      if(isOnlyNumberAndComma(estimatedValueWithOutWon) == false) {
        alert("문자는 입력하실 수 없습니다.");
        return numberWithComma(removeCharExceptComma(estimatedValueWithOutWon));
      }

      return numberWithComma(estimatedValueWithOutWon);
    }

    function numberWithComma(str) {
      str = String(str);
      return removeComma(str).replace(/(\d)(?=(?:\d{3})+(?!\d))/g, "$1,");
    }

    function isOnlyNumberAndComma(str) {
      str = String(str);
      let numberWithoutComma = removeComma(str);
      let withOutNumber = numberWithoutComma.replace(/[0-9\-]/g, "");

      if(withOutNumber.length > 0)
        return false;
      return true;
    }

    function remove원(str) {
      str = String(str);
      if(str.slice(-1) == "원")
        return removeLastChar(str);
      else
        return str;
    }

    function removeComma(str) {
      str = String(str);
      return str.replace(/\,/g, "");
    }

    function removeLastChar(str) {
      str = String(str);
      return str.slice(0, -1);
    }

    function removeCharExceptComma(str) {
      str = String(str);
      return str.replace(/[^\d^\,]/g, "");
    }

    function toValueWithPercentAndDot(value) {
      if(isOnlyNumberAndDotAndPercent(value) == false) {
        alert("문자는 입력하실 수 없습니다.");
        return numberWithPercentAndDot(removeCharExceptPercentAndDot(value));
      }

      return numberWithPercentAndDot(value);
    }

    function isOnlyNumberAndDotAndPercent(str) {
      str = String(str);
      let numberWithoutPercentAndDot = str.replace(/[\%\.]/g, "");
      let withOutNumber = numberWithoutPercentAndDot.replace(/[0-9\-]/g, "");

      if(withOutNumber.length > 0)
        return false;
      return true;
    }

    function removePercent(str) {
      str = String(str);
      return str.replace(/\%/g, "");
    }

    function numberWithPercentAndDot(value) {
      value = String(value)
      return removeCharExceptPercentAndDot(value) + "%";
    }

    function removeCharExceptPercentAndDot(str) {
      str = String(str);
      return removePercent(str).replace(/[^\d^\%^\.^\-]/g, "");
    }

    $("#selfEvaluateValue").text(toEstimatedValueWithComma($("#selfEvaluateValue").text()));
  });
</script>

</html>