<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/xeicon.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>

      /*
          1. 두개의 버튼이 클릭이 되어있는지 확인
          2. 클릭이 모두 되어있으면 가입하기 버튼 활성화
      */

      $(function () {
        let idx = 0;

        $('.tabs .tab a').on('click', function () {
          idx = $(this).parent().index();

          $(this).parent('li').addClass('on');
          $(this).parent('li').siblings('li').removeClass('on');

          $(this).parents('.tab').siblings('div').removeClass('on');
          $(this).parents('.tab').siblings('div').eq(idx).addClass('on');
        });


        $("#agree1,#agree2,#agree3,#agree4").on("click", function () {
          let agree1_checked = $("#agree1").is(":checked");
          let agree2_checked = $("#agree2").is(":checked");

          let agree3_checked = $("#agree3").is(":checked");
          let agree4_checked = $("#agree4").is(":checked");


          if (agree1_checked && agree2_checked) {
            $("#corporation_sign_up_btn").prop("disabled", false);
            $("#corporation_sign_up_btn").css("background-color", "#07398D")
          }

          if (agree3_checked && agree4_checked) {
            $("#investor_sign_up_btn").prop("disabled", false);
            $("#investor_sign_up_btn").css("background-color", "#07398D")
          }
        })

        $("#corporation_sign_up_btn, #investor_sign_up_btn").on("click", signUp);

        function signUp() {
          let signUpUrl = idx == 0
            ?
                "/corporations/signUp"
            :
                "/investors/signUp";

          let signUpRequestData = idx == 0
            ?
                getCorporationSignUpData()
            :
                getInvestorSignUpData();

          console.log(signUpUrl);

          $.ajax({
            url: signUpUrl,
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(signUpRequestData),
            complete: function(xhr, status) {
              if(xhr.status == 200) {
                alert('회원가입 완료.');
                window.location.href = "/signIn";
              }
              else {
                alert(xhr.responseText);
              }
            }
          });
        }


        function getCorporationSignUpData() {
          return {
            corporationName: $("#corporation_name").val(),
            representativeInformation: {
              representativeName: $("#representative_name").val(),
              phoneNum: $("#corporation_phone_num").val(),
              businessNum: $("#business_num").val()
            },
            password: $("#corporation_password").val()
          }
        }

        function getInvestorSignUpData() {
          let affiliation = $("#investor_affiliation").val();
          let investorName = $("#investor_name").val();

          return {
            investorInformation: {
              phoneNum: $("#investor_phone_num").val(),
              name: investorName,
              affiliation: affiliation
            },
            password: $("#investor_password").val()
          }
        }

      });

    </script>


</head>
<body>
<header class="blue">
    {{>fragments/header}}
</header>

<!-- 비주얼1 -->
<main class="backno">
    <section class="visual2">
        <p>회원가입</p>
    </section>

    <section class="visual3">
        <div class="tabs">
            <ul class="tab">
                <li class="on">
                    <a href="#a"><span>기업</span></a>
                </li>
                <li><a href="#a"><span>투자자</span></a></li>
            </ul>
            <div class="on">
                <table class="infor" id="form">
                    <tbody>
                    <tr>
                        <td><b>휴대폰 번호로 가입하기</b></td>
                        <td><input id="corporation_phone_num" type="text" placeholder="     휴대폰 번호('-'제외)"></td>
                    </tr>
                    <tr>
                        <td><b>비밀번호</b></td>
                        <td><input id="corporation_password" type="password" placeholder="     비밀번호" id="pass"></td>
                    </tr>
                    <tr>
                        <td><b>비밀번호 확인</b></td>
                        <td><input type="password" placeholder="     비밀번호 확인" id="pass-check"></td>
                        <td><font id="chkNotice" size="2" class="checktxt"></font></td>
                    </tr>
                    <tr>
                        <td><b>대표자명</b></td>
                        <td><input id="representative_name" type="text" placeholder="     실명"></td>
                    </tr>
                    <tr>
                        <td><b>기업명</b></td>
                        <td><input id="corporation_name" type="text" placeholder="     기업명"></td>
                    </tr>
                    <tr>
                        <td><b>사업자 등록번호</b></td>
                        <td><input id="business_num" type="text" placeholder="     000-00-00000"></td>
                    </tr>
                    </tbody>
                </table>
                <div class="agree">
                    <ul>
                        <li class="icon"><input type="radio" name='selectRadio1' id="agree1" class="agree1"><a href="#">이용약관에
                            동의</a></li>
                        <li class="see"><a href="/policy/usagePolicy">전체보기</a></li>
                    </ul>
                    <ul>
                        <li class="icon"><input type="radio" name='selectRadio2' id="agree2" class="agree2"><a href="#">개인정보
                            처리방침 동의</a></li>
                        <li class="see"><a href="/policy/privacyPolicy">전체보기</a></li>
                    </ul>
                </div>
                <button id="corporation_sign_up_btn" class="btn_pop" disabled="true">
            <span>
                가입하기
            </span>
                </button>
            </div>

            <div>
                <table class="infor" id="form">
                    <tbody>
                    <tr>
                        <td><b>휴대폰 번호로 가입하기</b></td>
                        <td><input id="investor_phone_num" type="text" placeholder="     휴대폰 번호('-'제외)"></td>
                    </tr>
                    <tr>
                        <td><b>비밀번호</b></td>
                        <td><input id="investor_password" type="password" placeholder="     비밀번호" id="pass"></td>
                    </tr>
                    <tr>
                        <td><b>비밀번호 확인</b></td>
                        <td><input type="password" placeholder="     비밀번호 확인" id="pass-check"></td>
                        <td><font id="chkNotice" size="2" class="checktxt"></font></td>
                    </tr>
                    <tr>
                        <td><b>이름</b></td>
                        <td><input id="investor_name" type="text" placeholder="     실명"></td>
                    </tr>
                    <tr>
                        <td><b>소속기관</b></td>
                        <td><input id="investor_affiliation" type="text" placeholder="     기업명"></td>
                    </tr>
                    </tbody>
                </table>
                <div class="agree">
                    <ul>
                        <li class="icon"><input type="radio" name='selectRadio3' id="agree3" class="agree1"><a href="#">이용약관에
                            동의</a></li>
                        <li class="see"><a href="/policy/usagePolicy">전체보기</a></li>
                    </ul>
                    <ul>
                        <li class="icon"><input type="radio" name='selectRadio4' id="agree4" class="agree2"><a href="#">개인정보
                            처리방침 동의</a></li>
                        <li class="see"><a href="/policy/privacyPolicy">전체보기</a></li>
                    </ul>
                </div>
                <button id="investor_sign_up_btn" class="btn_pop" disabled="true">
            <span>
                가입하기
            </span>
                </button>
            </div>

        </div>
    </section>

</main>
</body>
</html>
