<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/xeicon.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>

      $(function () {
        let idx = 0;

        $('.tabs .tab a').on('click', function () {

          idx = $(this).parent().index();

          $(this).parent('li').addClass('on');
          $(this).parent('li').siblings('li').removeClass('on');

          $(this).parents('.tab').siblings('div').removeClass('on');
          $(this).parents('.tab').siblings('div').eq(idx).addClass('on');
        });

        let corporationPhoneNum = $("#corporation_phone_num");
        let corporationPassword = $("#corporation_password");

        $("#corporation_phone_num, #corporation_password, #investor_phone_num, #investor_password").on("input", function () {
          if (corporationPhoneNum.val().length >= 1 && corporationPassword.val().length >= 1) {
            $("#corporation_sign_in_btn").prop("disabled", false);
            $("#corporation_sign_in_btn").css("background-color", "#07398D");
          }
        })

        let investorPhoneNum = $("#investor_phone_num");
        let investorPassword = $("#investor_password");

        $("#corporation_phone_num, #corporation_password, #investor_phone_num, #investor_password").on("input", function () {
          if (corporationPhoneNum.val().length >= 1 && corporationPassword.val().length >= 1) {
            $("#corporation_sign_in_btn").prop("disabled", false);
            $("#corporation_sign_in_btn").css("background-color", "#07398D");
          }

          if (investorPhoneNum.val().length >= 1 && investorPassword.val().length >= 1) {
            $("#investor_sign_in_btn").prop("disabled", false);
            $("#investor_sign_in_btn").css("background-color", "#07398D");
          }
        })


        $("#corporation_sign_in_btn, #investor_sign_in_btn").on("click", signIn);
        $("#corporation_phone_num, #investor_phone_num, #corporation_password, #investor_password").keypress(function(event) {
          if(event.which == 13)
            signIn();
        });

        function signIn() {
          let signInUrl = idx == 0
          ?
            "/corporations/signIn"
          :
            "/investors/signIn";

          $.ajax({
            url: signInUrl,
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(getSignInData()),
            complete: function(xhr, stauts) {
              if(xhr.status == 200) {
                alert("로그인 성공.");
                window.location.href = "/main";
              } else {
                alert(xhr.responseText);
              }
            }
          });
        }

        function getSignInData() {
          let phoneNum = idx == 0
          ?
            $("#corporation_phone_num").val()
          :
            $("#investor_phone_num").val();

          let password = idx == 0
          ?
            $("#corporation_password").val()
          :
            $("#investor_password").val();

          return {
            phoneNum: phoneNum,
            password: password
          };
        }


      });
    </script>


</head>
<body>
<header class="blue">
    {{>fragments/header}}
</header>

<!-- 비주얼1 -->
<main class="backno">
    <section class="visual2">
        <p>로그인</p>
    </section>

    <section class="visual3">
        <div class="tabs">
            <ul class="tab">
                <li class="on"><a href="#a"><span>기업</span></a></li>
                <li><a href="#a"><span>투자자</span></a></li>
            </ul>
            <div class="on">
                <table class="infor">
                    <tbody>
                    <tr>
                        <td><b>휴대폰 번호로 로그인</b></td>
                        <td><input id="corporation_phone_num" type="text" placeholder="     휴대폰 번호"></td>
                        <td><input id="corporation_password" type="password" placeholder="     비밀번호"></td>
                    </tr>
                    </tbody>
                </table>
                <button id="corporation_sign_in_btn" class="btn_pop" disabled="true"><a href="#">로그인</a></button>
            </div>

            <div>
                <table class="infor">
                    <tbody>
                    <tr>
                        <td><b>휴대폰 번호로 로그인</b></td>
                        <td><input id="investor_phone_num" type="text" placeholder="     휴대폰 번호"></td>
                        <td><input id="investor_password" type="password" placeholder="     비밀번호"></td>
                    </tr>
                    </tbody>
                </table>
                <button id="investor_sign_in_btn" class="btn_pop" disabled="true"><a href="#">로그인</a></button>
            </div>

        </div>
    </section>

</main>
</body>
</html>
