<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <style>
        div > img {
            margin-top: 7vh;
        }
    </style>
</head>
<body>
    <header>
        {{>fragments/header}}
    </header>

    <div>
        <div
            style="width: 100vw; height: 7vh; background-color: #07398D; display:flex; justify-content: flex-start; align-items: center;">
            <span style="width: 14vw; margin-left: 5vw; color: white; font-size: 3.5vw; ">이용방법</span>
        </div>

        <div style="width: 100vw; height: auto; background-color: #F2F3F8; display: flex; justify-content: center; align-items: center;">
            {{#corporation}}
                <img src="{{corporationUsage}}" alt="">
            {{/corporation}}
            {{^corporation}}
                <img src="{{investorUsage}}" alt="">
            {{/corporation}}
        </div>

    </div>
</body>
</html>